*{
  margin: 0px;
  padding: 0px;


.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #f8f9fa; /* cor de fundo neutra */
  border-bottom: 1px solid #ddd;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  
  width: 100%;
  height: 50px;
  margin-left: 10px;
  margin-right: 20px;

}

h1 {
  font-size: 40px;
  color: #2a6d9e;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buy-button {
  background-color: #0033A0; /* Cor do botão */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 9px;
  font-size: 20px;
  height: 50px;
  cursor: pointer;
  margin-right: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buy-button:hover {
  background-color: #004399; /* Cor do botão ao passar o mouse */
}






/*div input*/


.containerazul{
  width: 200px;
  height: 350px;
  padding: 20px;
  background-color: #0033A0;
  border-radius: 10px 0px 0px 10px;
  margin-top: 0px;
  margin-bottom: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.containerazul h2{
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  text-align: center;
  margin-top: 30px;
}

.p1{
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-size: 18px;
  margin-top: 50px;
}

.p2{
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 130px;
  font-size: 16px;
  margin-left: 40px;
  margin-top: 5px;
}

.loginGeral{
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background: url('../src/assets/testee.png') no-repeat center center;
  background-size: cover;
  margin: 0;
}

.login-box {
  width: 350px;
  padding: 20px;
  background-color: #EEEEEE;
  border-radius: 0px 10px 10px 0px;
  margin-left: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 350px;
  margin-bottom: 100px;  
}



.login-box h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #004aad;
}

.login-box p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #333;
}

.login-box h3{
  margin-bottom: 15px;
  font-size: 30px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input-group {
  display: flex;
  margin-bottom: 15px;
}

.input-group button {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
}

.input-group button.active {
  background-color: #EEEEEE;
  color: black;
  border: none;
  display: inline;
  border-bottom: 2px solid black;
  margin-right: 5px;
}

.input-group button.pRural {
  background-color: #EEEEEE;
  color: black;
  border: none;
  display: inline;
  border-bottom: 2px solid rgb(125, 125, 125);
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 16px;
  font-size: 14px;
  width: 300px;
  margin-left: 0px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.btn-register {
  width: 190px;
  padding: 0px;
  background-color: white;
  color: black;
  border: 5px solid black;
  border-radius: 30px;
  cursor: pointer;
  font-size: 27px;
  margin-left: 60px;
  height: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

.form-label{
  font-size: 20px;
}

.mb-3{
  margin-bottom: 9px;
}


.btn-login {
  margin-right: 30px;
  width: 170px;
  padding: 5px;
  margin-left: 30px;
  background-color: #0033A0;
  color: white;
  border: 5px solid white;
  border-radius: 30px;
  cursor: pointer;
  font-size: 25px;
  margin-top: 70px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;

}

.image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

}

.tipo{
  display: flex;
  justify-content: start;
}


.icones img {
  width: 180px;
  margin: 30px;
  height: 180px;
 
}

.icones{
  display: flex;
  justify-content: center;
}

.sobreNos h1{
  margin: 75px 0px -20px 30px;
  color: #0033A0;
  text-decoration: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 55px;
}

.cards{
  display: flex !important;
  flex-direction: row;
  width: 580px;
  height: 392px;
  margin-left: 30px;
  margin-top: 80px;
  margin-bottom: 30px;
}

.imgCard{
  width: 380px;
  height: 392px;
  object-fit: cover;
  border-radius: 10px 0px 0px 30px;
}

.contCard{
  width: 200px;
  height: 390px;
  background-color: white;
  border-radius: 0px  30px 30px 0px;
  border: black solid 2px;
  margin-left: -1px;
}

.contCard h2{
  margin-left: 15px;
  margin-top: 20px;
}

.contCard p{
  width: 150px;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 20px;
}

/* .card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 0 8px;
  width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

.placa{
  width: 200px;
}

.stick-slide > div {
  margin: 0 10px;
}


/* Estilo para o footer */
/* Footer.css */
/* Footer.css */
.footer {
  background-color: #003D9A; /* Azul conforme na imagem */
  color: white;
  padding: 20px;
  
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
}

.footer-contact {
  text-align: left;
}

.footer-contact p {
  margin: 0;
  font-size: 26px;
}

.footer-brand {
  text-align: start;
  margin-left: 30px
  
}

.footer-brand h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: bold;
  margin: 0;
  font-size: 30px;
}

.footer-brand p {
  margin: 0;
  font-size: 20px;
}


/*-----------------------------------------------------------------------------------------------------------*/
/* PRODUTOS */

.informacoes{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
width: 200px;
}



.containerProd{
  background-image: url('./assets/dashfundo.png');
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh ;
}

.contProd {
  background-color: #D7E6F2;
  width: 1200px;
  height: 600px;
  border-radius: 15px;
  padding: 20px;
}

.tprod{
  color: white;
  background-color: #0033A0;
  width: 400px;
  padding: 10px;
  border-radius: 10px;
  margin-left: 50px;
  
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 52px;
  margin-bottom: 20px;
}


.tabelaProd {
  width: 1100px;
  border-radius: 15px;

  background-color: white;
  margin: 0 auto;
}

/* Mantém o cabeçalho da tabela fixo */
.MuiTableCell-head {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}

/* Para navegadores que não suportam WebKit */
.tabelaProd {
  scrollbar-color: #003D9A #f1f1f1; /* Cor da barra de rolagem e do track */
  scrollbar-width: thin; /* Define uma barra de rolagem fina */
}

.iconeInfo{
  background-color: #333;
}





.info h1{
  color: black;
  font-size: 20px;
  padding: 5tpx;
  margin-left: 30px;
}

.id{
  margin-top: 20px;
}



/* css dashplaca***************************************************************************/

.tdash{
  color: white;
  background-color: #0033A0;
  width: 460px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px
}

/* css dashusuarios***************************************************************************/


.tus{
  color: white;
  background-color: #0033A0;
  width: 380px;
  padding: 10px;
  border-radius: 10px;
  margin-left: 50px;
}

/* css dashusuarios***************************************************************************/
